* {
  box-sizing: border-box;
}

.App html,
body,
#root {
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0px;
  font-family: "Montserrat";
}
html {
  scroll-behavior: auto;
}
body {
  background-color: transparentize($color: rgb(23, 23, 72), $amount: 1);
  scroll-margin-top: 0;
}
.body {
  display: block;
  height: 100%;
  min-height: 100%;
  padding-bottom: 30px;
}
a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}
.mainHome,
.mainProduct,
.mainContact {
  position: relative;
  top: 260px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  min-height: 100%;
  width: 100%;
}

.container__head,
.mainHome__text {
  background-image: url(/src/assets/Fond.webp);
  background-size: 100%;
  background-position-y: 0%;
}
