.news-page {
  width: 80%;
  margin: 0 auto;
  & h1 {
  }
}

.news-page-item {
  height: 500px;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
  border: 1px solid black;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  & h2 {
    margin: 0;
    margin-top: 20px;
  }
  & p:nth-of-type(1) {
    min-height: 250px;
  }
}
