.article__wellfare {
  background-color: transparent;
  width: 70%;
  margin: 0 auto;
  & h2 {
    font-size: 40px;
    justify-content: center;
  }
  & p {
    font-family: "Montserrat";
    font-size: 30px;
    text-align: justify;
  }
  & br {
    margin-bottom: 100px;
    margin-top: 100px;
  }
}
